{% extends 'layout.html' %}

{% block title %}
Product Catalogue
{% endblock %}

{% block content %}

<form action="" method="POST">
  <input type="submit" name="send" value="Home">
</form>

<h1>Product Catalogue</h1>
<h2>{{msg}}</h2>
<br>

<table>
  <thead>
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Rating</th>
        <th>Frequency</th>
        <th>Ingredient Information</th>
        <th>Type</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
  </thead> 
  <tbody>
    <tr>
      <form action="" method="POST">
        
      <td>
          <select name="pid">
            <option value="" selected>None</option>
            <option value="DESC">Higher-Lower</option>
            <option value="ASC">Lower-Higher</option>
          </select>
      </td>

      <td>
          <select name="pname">
            <option value="" selected>None</option>
            <option value="DESC">Higher-Lower</option>
            <option value="ASC">Lower-Higher</option>
          </select>
      </td>

      <td>
          <select name="price">
            <option value="" selected>None</option>
            <option value="DESC">Higher-Lower</option>
            <option value="ASC">Lower-Higher</option>
          </select>
      </td>

      <td>
          <select name="rating">
            <option value="" selected>None</option>
            <option value="DESC">Higher-Lower</option>
            <option value="ASC">Lower-Higher</option>
          </select>
      </td>

      <td>
          <select name="frequency">
            <option value="" selected>None</option>
            <option value="DESC">Higher-Lower</option>
            <option value="ASC">Lower-Higher</option>
          </select>
      </td>

      <td>
          <select name="isVeg">
            <option value="" selected>None</option>
            <option value="Vegetarian">Veg</option>
            <option value="Non-vegetarian">Non-Veg</option>
          </select>
      </td>

      <td>
          <select name="type">
            <option value="" selected>None</option>
            <option value="Food">Food</option>
            <option value="Beverage">Beverage</option>
            <option value="Dessert">Dessert</option>
          </select>
      </td>

      <td>
        <input type="submit" name="action" value="APPLY">
        <input type="submit" name="action" value="CLEAR">
      </td>
    </form>
    </tr>

    {% for item in P_table %}
    <tr>
      <td>
        <form method="POST">
          <input type="submit" name="send" value="{{item[0]}}">
        </form>
      </td>  
      <td>{{ item[1] }}</td>  
      <td>{{ item[2] }}</td>  
      <td>{{ item[3] }}</td> 
      <td>{{ item[4] }}</td> 
      <td>{{ item[5] }}</td> 
      <td>{{ item[6] }}</td>
      <td>
        <form method="POST" action="">
        <input type="hidden" name='product_id' value='{{item[0]}}'>
        <input type="submit" name="send" value="edit">
        </form>
      </td>
      <td>
        <form method="POST" action="">
          <input type="hidden" name='product_id' value='{{item[0]}}'>
          <input type="submit" name="send" value="delete">
          </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}