
{% extends 'layout.html' %}

{% block title %}

Admin Page

{% endblock %}


{% block content %}

<h1>{{ welcome_message }}</h1>

<form action="" method="POST">
    <input type="submit" name="action" value="Manage Products">
    <input type="submit" name="action" value="Add Products">
    <input type="submit" name="action" value="Change Credentials">
    <input type="submit" name="action" value="Order Taking">
    <input type="submit" name="action" value="Billing">
    <input type="submit" name="action" value="Logout">
</form>

{% endblock %}