{% extends "layout.html" %}

{% block content %}
<form action="", method="POST">
    <input type="submit" name="Register" value="HOME">
    <h1>
        Register New Customer!
    </h1>
    <div>
        {%if cond == "True" %}
        <input placeholder="Phone Number", type="text", name="Phone Number", value="{{phNo}}">
        {% else %}
            <input placeholder="Phone Number", type="text", name="Phone Number">
        {% endif %}
        <input placeholder="Email" type="text", name="Email">
    </div>

    <div>
        <input placeholder="First Name", type="text", name="First Name">
        <input placeholder="Middle Name", type="text" name="Middle Name">
        <input placeholder="Last Name", type="text", name="Last Name">
    </div>

    <div>
        <input value="Register", type="submit", name="Register">
    </div>
</form>

<div>
    <p> 
        <strong>
            {{reg_message}}
        </strong>
    </p>
<div>
    
{% endblock %}