<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/login.css">
    <title>Login</title>
</head>
<body>

    <form method="POST" action="">
      <br>
      Username <input type="text" name="username" />
      <br>

      <br>
      Password <input type="password" name="password" />
      <br>

      <br>
      <p><strong>{{login_message}}</strong></p>
      <br>

      <br>
      <input type="submit" value="submit">
      <br>

      <br>
      <a href="{{url_for('register')}}">Register Instead</a>
      <br>

    </form>
    
</body>
</html>