<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <h1>Greetings {{NameofUser}}</h1>
        <div>
            <h2>Username: {{username}}</h2>
        </div>
        <div>
            <h2>Password: {{password}}</h2>
        </div>
        <div>
            <h2>First Name: {{fname}}</h2>
            <button>change</button>
        </div>
        <div>
            <h2>Last Name: {{lname}}</h2>
            <button>change</button>
        </div>
        <div>
            <h2>Last Name: {{c1}}</h2>
            <button>change</button>
        </div>
        <div>
            <h2>Last Name: {{c2}}</h2>
            <button>change</button>
        </div>
        <div>
            <button><a href="{{url_for('login')}}">Logout</a></button>
            <button><a href="{{url_for('delete_account', username=username)}}">Delete Account</a></button>
        </div>
    </body>
</html>